@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


@font-face {
  font-family: CascadiaMono;
  src: url("/CascadiaMono.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CascadiaMono;
  font-size: large;
  transition: all 0.5s;
}

body {
  background-color: rgba(0, 162, 255, 0.938);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}
aside img {
  height: 2rem;
  width: 2rem;
  margin: 2rem;
  cursor: pointer;
  /* opacity: 0.2; */
  position: absolute;
  top: 0;
  right: 0;
  animation: Zoom 0.8s ease;
  border-radius: 50%;

}
.black {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(225, 225,225) !important;
}
.disp {
  display: none;
}
.gray {
  background: rgb(44, 44, 44) !important;
  color: white !important;
}
#credits {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  background-color: rgb(255, 255, 255);
  /* height: 12rem; */
  width: 18rem;
  border-radius: 10px;
  padding: 0.5rem;
}

h3 {
  color: rgba(0, 162, 255, 0.938);
  border-bottom: 1px solid rgba(0, 162, 255, 0.938);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
#arrow-back {
  display: none;
  color: rgba(0, 162, 255, 0.938);
  margin-right: 0.3rem;
  cursor: pointer;
}
.content {
  display: none;
  text-align: center;
  color: rgba(0, 162, 255, 0.938);
}
input {
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid gainsboro;
  color: rgb(201, 201, 201);
  padding: 0.3rem;
  margin-top: 0.8rem;
  text-align: center;
  width: 100%;
}

input:focus {
  border: 2px solid rgba(0, 162, 255, 0.938);
  color: rgba(0, 0, 0, 0.938);
}

.or {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: rgb(228, 228, 228);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.or::before {
  content: "or";
  color: #f0f0f0;
  padding: 0 15px;
  background: rgba(0, 162, 255, 0.938);
  border-radius: 2px;
}
button {
  padding: 0.5rem;
  width: 100%;
  color: #fff;
  background: rgba(0, 162, 255, 0.938);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* result part */
.result {
  display: none;
  text-align: center;
  margin: 1rem;
  color: black;
}
@keyframes Zoom {
  0% {
    scale: 1;
  }
  25% {
    scale: 0.5;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

.result .temp span {
  font-size: 3rem;
}
.result img {
  height: 5rem;
}
.location {
  margin-top: 1rem;
}

.active {
  display: block !important;
}
